.Dropdown {
    position: absolute;
  }
  
  .showShoppingBag{ 
    padding: 30px;
    margin-top: -70%;
}

.cList{
    background-color: white;
    margin-top: -20px;
    width: 520px;
    max-height: 300px;
    overflow-y: scroll;
}

.Cart{ 
    position: relative;
    font-size: x-small;
    display: block;
    width: 450px;
    z-index: 1;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.Pic{ 
    position: absolute;
    margin-left: -15px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.totalContainer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.checkoutBtn{ 
    width: 30px;
    height: 20px;
    margin-left: 50%;
}


.Title{ 
    position: absolute;
    margin-left: 60px;
    margin-top: 12px;
    height: 60px;
    font-size: xx-small;
}

.qty{ 
    position: absolute;
    margin-left: 300px;
    font-size: s;
    margin-top: 20px;
    padding: 2%;
}

.Price{
    position: absolute;
    margin-left: 265px;
    margin-top: 18px;
    font-size: small;
}

.cartsBtn {
    cursor: pointer;
}