.Dropdown {
    position:absolute;
    background-color: white;
  }
  
.showingShoppingBag{ 
    padding: 30px;
    margin-top: -45px;
}

.list{
    background-color: white;
    margin-top: -20px;
    width: 500px;
    height: 200px;
    
}

.Cart{ 
    position: relative;
    width: 100px;
    padding: 2%;
}

.Pic{ 
    position: absolute; 
    width: 90px;
    height: 90px;
    border: 1px solid black;
    margin-top: 150%;
}

.totalContainer{ 
    display: flex;
    flex-direction: row;
    padding:  5%;
    padding-top: 150px;
    border: solid 1px black;
}

.toCheckout{ 
    width: 100px;
    height: 30px;
    margin-left: 150px;
    margin-top: 60%
}


.Title{ 
    position: absolute;
    margin-left: 120px;
    margin-top: 15px;
    font-size: small;
}

.Price{
    position: absolute;
    margin-left: 970%;
    margin-top: 30px;
    font-size: small;
}

.cartsBtn {
    cursor: pointer;
}