*{
    font-family: 'Ubuntu', sans-serif;
    }

article{
    border-radius: 10px;
    width: 300px;
    border: 1px solid rgb(120, 119, 119);
    box-shadow: 5px 5px 5px 5px rgb(157, 153, 153);
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 1%;
    padding: 1%;
    height: 400px;
    overflow: hidden;

}

img{
    height: 80%;
    width: 100%;

}

.cardBox {
    background-color:white;
    
}

.addToCartBtn{
    border-radius: 10px;
    border: 1px solid rgb(193, 192, 192);
    background-color: white;
    width: 80px;
    height: 20px;
    font-size: small;
    margin-top: -1px;
    margin-bottom: 1%;
    margin-left: 1%;
}

.readMoreBtn {
    border-radius: 10px;
    border: 1px solid rgb(193, 192, 192);
    background-color: white;
    width: 80px;
    height: 20px;
    font-size: small;
    margin-top: -1px;
    margin-bottom: 1%;
    margin-left: 1%;
}


